<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
        <meta charset="utf-8">
        <title>Shop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% load static %}
        <link href="{% static 'shop/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'shop/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'shop/color-red.css' %}" rel="stylesheet" type="text/css" media="all"/>

        <script src="js/modernizr.min.js"></script>

        <!--[if lt IE 9]>
		  <script src="js/html5shiv.js"></script>
		  <script src="js/respond.js"></script>
		<![endif]-->

    </head>
    <body>
    <!-- Off screen navigation -->

		<div class="nav-container">
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index-2.html">Shop<span class="logo-dot accent-bg"></span></a>
						<a href="#sidr" class="side-menu-opener mobile">
							<div class="bars">
						        <span class="bar top"></span>
						        <span class="bar middle"></span>
						        <span class="bar bottom"></span>
						    </div>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="collapse-navigation">
						<ul class="nav navbar-nav">
							<li class="dropdown">
							    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Home </a>

							</li>
							<li><a href="about.html">About</a></li>
							<li class="dropdown">
							    <a href="catalog.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Catalog <span class="fa fa-angle-down"></span></a>
							    <ul class="dropdown-menu">
                    {% for c in cat%}
                      <li><a href="{% url 'shop:category' c.id %}">{{c.category}}</a></li>
                    {%endfor%}
							    </ul>
							</li>
							<li class="dropdown">
							    <a href="blog.html"   role="button" aria-haspopup="true" aria-expanded="true">Blog </a>

							</li>
							<li><a href="contact.html"> Contact</a></li>

						</ul>

					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>
		</div>

		<div class="main-container">
      <header class="fullscreen-element">
				<div class="background-image-holder parallax-background overlay">
					<img class="background-image" alt="Background Image" src="{%static 'shop/banner.jpg'%}">
				</div>

				<div class="container align-vertical hero">
					<div class="row">
						<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
							<h1>Modern Chair</h1>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
							<div class="button-group">
								<a href="#" class="btn btn-default">Catalog</a>
								<a href="#" class="btn btn-primary">Enquiry</a>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

			<div class="action-bar">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<a href="#"><span data-icon="v" class="icon"></span> <span class="text">Fast Delivery</span></a>
						</div>
						<div class="col-sm-4">
							<a href="#"><span data-icon="/" class="icon"></span> <span class="text">Adjustable</span></a>
						</div>
						<div class="col-sm-4">
							<a href="#"><span data-icon="7" class="icon"></span> <span class="text">Inovative</span></a>
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div>

</ul>
</div>
</div></div>

{%block body%}
{%endblock%}
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="footer-navigation">
          <li class="active"><a href="index-2.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="catalog.html">Catalog</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html"><i class="fa fa-paper-plane"></i> Contact</a></li>
        </ul>
        <ul class="accepted-payments">
          <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
          <li><a href="#"><i class="fa fa-paypal"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
          <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
        </ul>
        <div class="copyright">
          <p>Copyright © 2015 Chair. Created by Designifyer.com</p>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer>
</div><!-- /.main-container -->

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/isotope.min.js"></script>
  <script src="js/skrollr.js"></script>
  <script src="js/sidr.min.js"></script>
  <script src="js/scripts.js"></script>
</body>


</html>
